.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-container {
  background-color: #1e1e1e;
  color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 40vw;
  height: 70vh;
}

.popup-header-room {
  text-align: center;
  margin-bottom: 15px;
}

.popup-content-room {
  padding: 10px 0;
  min-height: 70%;
  max-height: 70%;
  overflow-y: auto;
}

.popup-content-room::-webkit-scrollbar {
  width: 12px;
}

.popup-content-room::-webkit-scrollbar-track {
  background: rgb(31, 32, 35);
  border-radius: 10px;
}

.popup-content-room::-webkit-scrollbar-thumb {
  background: rgb(60, 63, 68);
  border-radius: 10px;
}

.popup-content-room::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 153, 255);
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.close-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  max-width: 40%;
  cursor: pointer;
  position: relative;
  translate: 0px -20px;
}

.bottom-section-content {
  display: flex;
  justify-content: space-between;
  height: 10vh;
}

.members-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  background-color: #2a2a2a;
  width: 100%;
  color: #f0f0f0;
  margin-top: 10px;
  overflow-y: auto;
  max-height: 100%;
  min-height: auto;
}

.members-list::-webkit-scrollbar {
  width: 12px;
}

.members-list::-webkit-scrollbar-track {
  background: rgb(31, 32, 35);
  border-radius: 10px;
}

.members-list::-webkit-scrollbar-thumb {
  background: rgb(60, 63, 68);
  border-radius: 10px;
}

.members-list::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 153, 255);
}

.member-item {
  padding: 5px 10px;
  background-color: #3a3a3a;
  max-height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  font-size: 14px;
}
