.view-users-page {
  text-align: start;
  color: white;
  width: 100%;
  height: 100vh;

  overflow-y: auto;
}

.view-users-page::-webkit-scrollbar {
  width: 12px;
}

.view-users-page::-webkit-scrollbar-track {
  background: rgb(31, 32, 35);
  border-radius: 10px;
}

.view-users-page::-webkit-scrollbar-thumb {
  background: rgb(60, 63, 68);
  border-radius: 10px;
}

.view-users-page::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 153, 255);
}

.select-user-profile-card.nohover {
  text-decoration: none;
  display: flex;

  width: auto;
  height: 60px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  transition: ease-in-out 0.1s;
}

.header-section {
  margin-top: 20px;
  margin-right: 40px;
}

.header-section h4 {
  font-weight: 100;
}

.header-section-bar {
  display: flex;
}

.header-section-bar h1 {
  font-size: 3rem;
}

.view-profile-button {
  margin-right: 20px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  height: 32px;
  min-width: 60px;
  min-height: 32px;
  border: none;
  color: #fff;
  background-color: rgb(88, 155, 242);
  transition:
    background-color 0.17s ease,
    color 0.17s ease;
}

.view-profile-button:hover {
  background-color: rgb(70, 135, 242);
}

.send-message-button {
  margin-right: 20px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  height: 32px;
  min-width: 60px;
  min-height: 32px;
  border: none;
  color: #fff;
  background-color: rgb(88, 101, 242);
  transition:
    background-color 0.17s ease,
    color 0.17s ease;
}

.send-message-button:hover {
  background-color: rgb(71, 82, 196);
}

.add-user {
  scale: 1.5;
  margin-right: 30px;
  cursor: pointer;
  transition: 0.17s;
}

.add-user:hover {
  scale: 1.6;
  color: rgb(10, 216, 113);
}

.search-wrapper {
  position: relative;
  margin-left: auto;
  display: flex;
  align-items: center;
  height: 50px;
}

.search-wrapper input {
  background: var(--background);
  height: 2.5rem;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  padding-left: 2rem;
  flex-grow: 1;
  outline: none;
  border: none;
}

.search-wrapper svg {
  position: absolute;
  z-index: 10;
  top: 25%;
  left: 0.4rem;
  transform: translateY(3);
  pointer-events: none;
  right: 1.5rem;
  color: black;
  scale: 1.2;
}

.user-element {
  display: flex;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  gap: 15px;
}

.select-user-profile-card.hover {
  text-decoration: none;
  display: flex;
  border-style: solid;
  border-width: 0.2rem;
  width: auto;
  height: 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 25px;
  border-color: green;
  background-color: rgba(9, 71, 9, 0.3);
  margin: 40px 40px;
  color: white;
  cursor: pointer;
}

.select-user-profiles-list {
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  max-width: 90vw;
  padding-bottom: 50px;
  margin-right: 40px;
}

.exit-profile-button {
  position: fixed;
  display: flex;
  width: 160px;
  height: 60px;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  margin-top: 30vh;
  margin-left: 35vw;
  border-style: solid;
  border-width: 0.15rem;
  color: red;
}

.exit-profile-button:hover {
  background-color: rgba(207, 135, 107, 0.3);
}

.exit-profile-select-button {
  display: flex;
  width: 160px;
  height: 60px;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  margin-top: 5vh;
  margin-left: 45vw;
  border-style: solid;
  border-width: 0.15rem;
  color: red;
}

.exit-profile-select-button:hover {
  background-color: rgba(207, 135, 107, 0.3);
}

.popup-notification {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.4rem;
  padding: 30px 60px;
  border-radius: 5px;
  z-index: 1000;
  animation: fadeInOut 3s ease-in-out;
}

.popup-notification.success {
  background-color: #4caf50;
  color: white;
}

.popup-notification.error {
  background-color: #f44336;
  color: white;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  20%,
  80% {
    opacity: 1;
  }
}
